<div>
  <form action="http://localhost:3030/api/books/" method="PUT">
    <input name="id" value="<%= book.id %>">
    <input name="content" value="<%= book.content %>">
    <button>save book</button>
  </form>
</div>
